<br>
<br>
<div id="sign_up_page">
  <br>
  <br>
</div>

<body class="log_in_turd2"> 
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div id="sign_in_head">Sign up for free!</div>
        <br>

            <%= form_for(@user) do |f| %>
              <% unless @user.errors.count == 0   %>
                <div class="alert alert-error">
                  The form contains <%= pluralize(@user.errors.count, "error") %>.
                </div>
                <ul class="list-group">
                <% @user.errors.full_messages.each do |msg| %>
                  <li class="list-group-item"><%= msg %></li>
                <% end %>
                </ul>
              <% end %>

              <%= f.label :name %>
              <br>
              <%= f.text_field :name %>
              <br>
              <%= f.label :email, "Email" %>
              <br>
              <%= f.text_field :email %>
              <br>
              <br>
              <br>
              <%= f.label :password %>
              <br>
              <%= f.password_field :password %>
              <br>
              <%= f.label :password_confirmation, "Confirmation" %>
              <br>
              <%= f.password_field :password_confirmation %>
              <br>
              <br>

              <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
            <% end %>
          </div>
        </div>

      </div>  <!-- modal header -->
    </div> <!-- modal content --> 
  </div> <!-- modal dialog -->  
</div>   <!-- div body -->
