<!DOCTYPE html>
<html>
<head>
  <title>TsetseApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= include_gon %>
</head>
<body>

<%= render 'layouts/header' %>

<br>
<br>
<br>
<br>
<% flash.each do |name, msg| %>
	<%= content_tag :div, msg, id: "flash_#{name}" %>
<% end %>

<%= yield %>


</body>

<footer>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=places" type="text/javascript"></script>
</footer>
</html>
